* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: lightblue;
  display: flex;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  font-weight: bold;
  min-height: 150px;
  padding: 3rem;
  border: 2px solid gold;
  background-color: salmon;
  margin: auto;
}

.user-numbers {
  flex-direction: column;
}

input {
  height: 2rem;
  width: 80px;
  text-align: center;
}

button {
  padding: 0.3rem 3rem;
}
.hidden {
  display: none;
}
